Repository gitcoinco/web, pull requests merged in 2018-10, with the labels that each got.

#2315 bounty: hide start + submit work for funder
  app/assets/v2/js/pages/bounty_details.js
Labels: enhancement, frontend

#2312 WIP Index
  app/assets/v2/css/grants/grant.css
  app/grants/templates/grants/index.html
Labels: frontend, grants

#2318 Add GH ratelimit healthcheck, job, cmd and additional Infura specific healthcheck
  app/app/settings.py
  app/app/urls.py
  app/dashboard/apps.py
  app/git/management/__init__.py
  app/git/management/commands/__init__.py
  app/git/management/commands/check_gh_ratelimit.py
  app/git/utils.py
  app/healthcheck/__init__.py
  app/healthcheck/apps.py
  app/healthcheck/healthchecks.py
  app/healthcheck/views.py
  app/retail/views.py
  pydocmd.yml
  requirements/base.txt
  scripts/crontab
Labels: backend

#2319 Adding all emails and their appropriate assets for grants branch.
  app/assets/v2/images/grant-ended.png
  app/assets/v2/images/heart-robot.png
  app/assets/v2/images/new-supporter.png
  app/assets/v2/images/subscription-terminated.png
  app/retail/templates/emails/grants/grant_cancellation.html
  app/retail/templates/emails/grants/grant_cancellation.txt
  app/retail/templates/emails/grants/new_supporter.html
  app/retail/templates/emails/grants/new_supporter.txt
  app/retail/templates/emails/grants/subscription_terminated.html
  app/retail/templates/emails/grants/subscription_terminated.txt
  app/retail/templates/emails/grants/support_cancellation.html
  app/retail/templates/emails/grants/support_cancellation.txt
  app/retail/templates/emails/grants/thank_you_for_supporting.html
  app/retail/templates/emails/grants/thank_you_for_supporting.txt
Labels: emails, grants

#2311 Implement Front-end - "New Grant" Email
  app/assets/v2/images/new_grant.png
  app/retail/templates/emails/grants/grants.html
  app/retail/templates/emails/grants/grants.text
Labels: emails, grants

#2330 Fix #2329 - Adjust email template URL references and fix bad ref
  app/retail/templates/emails/bounty_changed.html
  app/retail/templates/emails/bounty_startwork_expire_warning.html
  app/retail/templates/emails/bounty_startwork_expire_warning.txt
  app/retail/templates/emails/bounty_uninterested.html
  app/retail/templates/emails/faucet_request_rejected.html
  app/retail/templates/emails/faucet_request_rejected.txt
  app/retail/templates/emails/gdpr_reconsent.html
  app/retail/templates/emails/gdpr_reconsent.txt
  app/retail/templates/emails/new_bounty.html
  app/retail/templates/emails/new_bounty_acceptance.html
  app/retail/templates/emails/new_bounty_expire_warning.html
  app/retail/templates/emails/new_bounty_rejection.html
  app/retail/templates/emails/new_match.html
  app/retail/templates/emails/render_bounty_startwork_expired.html
  app/retail/templates/emails/render_bounty_startwork_expired.txt
  app/retail/templates/emails/start_work_rejected.html
  app/retail/templates/emails/start_work_rejected.txt
  app/retail/templates/emails/template.html
Labels: emails, frontend, needs review

#2326 fix ios text
  app/assets/v2/css/ios.css
Labels: frontend, ios

#2321 fixed avatar builder color handling
  app/assets/v2/js/avatar_builder.js
Labels: avatar, bug, frontend, needs-testing

#2322 Fix overflowing text on toolbox cards
  app/assets/v2/css/card.css
Labels: enhancement, frontend, needs review

#2173 Make It Clear Issue Has Been Crowdfunded V2
  app/assets/v2/css/base.css
  app/assets/v2/css/bounty.css
  app/assets/v2/css/dashboard.css
  app/assets/v2/css/tag.css
  app/assets/v2/images/coin.svg
  app/assets/v2/images/hiring.svg
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/pages/dashboard.js
  app/assets/v2/js/shared.js
  app/dashboard/models.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/dashboard/index.html
  app/retail/templates/shared/result.html
Labels: frontend, needs review, needs-testing

#2237 Refactor profile page
  app/assets/v2/css/profile.css
  app/assets/v2/css/tabs.css
  app/assets/v2/js/pages/tabs.js
  app/dashboard/models.py
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/profile_activities_bounty.html
  app/retail/templates/ui_inventory.html
Labels: frontend, in progress

#2338 Adjust Travis config to handle GeoIP dbs
  .travis.yml
  app/app/travis.env
Labels: backend, devops

#2268 Timborden/location leaderboards
  app/dashboard/models.py
  app/marketing/management/commands/assemble_leaderboards.py
  app/marketing/models.py
  app/marketing/tests/management/commands/test_assemble_leaderboards.py
  app/marketing/views.py
Labels: backend, enhancement, leaderboard, mergeable

#2343 re-enables org profiles
  app/dashboard/models.py
  app/dashboard/templates/profiles/profile.html
Labels: backend, enhancement, profile

#2346 Migrate image converter to pyvips
  .travis.yml
  Dockerfile
  app/avatar/utils.py
  requirements/base.txt
Labels: avatar, backend, enhancement

#2334 WOC: Adds tooltip hover on top of user input field.
  app/assets/v2/css/tooltip_hover.css
  app/assets/v2/js/tooltip_hover.js
  app/dashboard/templates/bulk_payout_bounty.html
  app/dashboard/templates/process_bounty.html
Labels: bounties, enhancement, frontend, waiting on contributor

#858 WIP: Feature/increase dashboard tests coverage
  app/dashboard/tests/__init__.py
  app/dashboard/tests/test_dashboard_embed.py
  app/dashboard/tests/test_dashboard_models.py
  app/dashboard/tests/test_dashboard_utils.py
Labels: backend, in progress, needs review, needs-testing, tests, waiting on contributor, wip

#2360 Update roundup email for 5OCT2018
  app/retail/emails.py
Labels: backend, emails

#2296 payout: added autocomplete
  app/app/urls.py
  app/assets/v2/css/forms/button.css
  app/assets/v2/css/gitcoin.css
  app/assets/v2/js/pages/bulk_payout.js
  app/assets/v2/js/truncate-hash.js
  app/assets/v2/js/user-search.js
  app/dashboard/templates/bulk_payout_bounty.html
  app/dashboard/templates/payout_bounty.html
  app/retail/templates/shared/bulk_payout_form.html
Labels: bounties, enhancement, frontend, mergeable

#2231 Added title and meta tags
  app/dashboard/gas_views.py
  app/dashboard/templates/bounty/details.html
  app/dashboard/templates/bounty/new.html
  app/dashboard/templates/dashboard/index.html
  app/dashboard/templates/ens/base.html
  app/dashboard/templates/ftux/onboard.html
  app/dashboard/templates/ios.html
  app/dashboard/templates/legal/privacy.html
  app/dashboard/templates/legal/terms.html
  app/dashboard/templates/onepager/base.html
  app/dashboard/templates/toolbox.html
  app/faucet/templates/faucet_form.html
  app/retail/templates/about.html
  app/retail/templates/activity.html
  app/retail/templates/help.html
  app/retail/templates/how_it_works/index.html
  app/retail/templates/landing/contributor.html
  app/retail/templates/landing/contributor/explorer.html
  app/retail/templates/leaderboard.html
  app/retail/templates/mission.html
  app/retail/templates/results.html
  app/retail/templates/vision.html
  app/retail/views.py
Labels: marketing

#1447 save recent searches in tabs above search bar -- like http://www.hipmunk.com/ does
  app/assets/v2/css/search_bar.css
  app/assets/v2/js/pages/dashboard.js
  app/dashboard/templates/shared/search_bar.html
Labels: in progress

#2358 Fix #2280 header text size inconsistent on /not_a_token /mission
  app/retail/templates/shared/nav.html
Labels: bug, frontend

#2373 added pony for avatar builder
  app/assets/v2/images/avatar/HairStyle/9-back-000000.svg
  app/assets/v2/images/avatar/HairStyle/9-back-0ECF7C.svg
  app/assets/v2/images/avatar/HairStyle/9-back-3596EC.svg
  app/assets/v2/images/avatar/HairStyle/9-back-4D22D2.svg
  app/assets/v2/images/avatar/HairStyle/9-back-4E3521.svg
  app/assets/v2/images/avatar/HairStyle/9-back-8C3B28.svg
  app/assets/v2/images/avatar/HairStyle/9-back-8E2ABE.svg
  app/assets/v2/images/avatar/HairStyle/9-back-B28E28.svg
  app/assets/v2/images/avatar/HairStyle/9-back-F0E6FF.svg
  app/assets/v2/images/avatar/HairStyle/9-back-F4EA6E.svg
  app/assets/v2/images/avatar/HairStyle/9-front-000000.svg
  app/assets/v2/images/avatar/HairStyle/9-front-0ECF7C.svg
  app/assets/v2/images/avatar/HairStyle/9-front-3596EC.svg
  app/assets/v2/images/avatar/HairStyle/9-front-4D22D2.svg
  app/assets/v2/images/avatar/HairStyle/9-front-4E3521.svg
  app/assets/v2/images/avatar/HairStyle/9-front-8C3B28.svg
  app/assets/v2/images/avatar/HairStyle/9-front-8E2ABE.svg
  app/assets/v2/images/avatar/HairStyle/9-front-B28E28.svg
  app/assets/v2/images/avatar/HairStyle/9-front-F0E6FF.svg
  app/assets/v2/images/avatar/HairStyle/9-front-F4EA6E.svg
  app/avatar/templates/hair/futuristic_pony_back.txt
  app/avatar/templates/hair/futuristic_pony_front.txt
  app/avatar/utils.py
Labels: avatar, frontend

#2376 [WIP] Added tooltip hover on tips page
  app/assets/v2/css/base.css
  app/dashboard/templates/onepager/send2.html
Labels: enhancement, frontend, tips

#2372 tip : autocomplete shows payout address
  app/assets/onepager/js/send.js
  app/assets/v2/js/user-search.js
  app/dashboard/templates/onepager/send2.html
Labels: enhancement, frontend

#2383 bug: advanced payout
  app/assets/v2/js/pages/bulk_payout.js
  app/dashboard/templates/bulk_payout_bounty.html
Labels: bug, frontend

#2391 General grants cleanup
  app/grants/admin.py
  app/grants/apps.py
  app/grants/migrations/0001_initial.py
  app/grants/migrations/0002_auto_20180918_1844.py
  app/grants/migrations/0003_auto_20180918_2234.py
  app/grants/migrations/0004_auto_20180918_2322.py
  app/grants/migrations/0005_auto_20180918_2328.py
  app/grants/migrations/0006_grant_tokenaddress.py
  app/grants/migrations/0007_auto_20180920_2115.py
  app/grants/migrations/0008_auto_20180927_1537.py
  app/grants/migrations/0009_auto_20180927_1544.py
  app/grants/migrations/0010_auto_20180927_1643.py
  app/grants/migrations/0011_grant_required_gas_price.py
  app/grants/migrations/0012_auto_20181001_0010.py
  app/grants/models.py
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/show.html
  app/grants/tests.py
  app/grants/urls.py
  app/grants/utils.py
  app/grants/views.py
Labels: backend, grants, linting, refactor

#2392 Fix eslint
  app/assets/v2/js/abi.js
  app/assets/v2/js/grants/cancel_subscription.js
  app/assets/v2/js/grants/compiledSubscriptionContract.js
  app/assets/v2/js/grants/compiledTokenContract.js
  app/assets/v2/js/grants/fund_grant.js
  app/assets/v2/js/grants/new_grant.js
Labels: frontend, grants, linting

#2397 grants/new: refactor
  app/assets/v2/css/grants/new.css
  app/assets/v2/js/grants/new.js
  app/grants/templates/grants/index.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/show.html
Labels: frontend, grants

#2405 landing: contributor page
  app/retail/templates/landing/contributor.html
Labels: frontend, marketing

#2415 CSS changes to tooltip hover in tips
  app/dashboard/templates/onepager/send2.html
Labels: bug, frontend, tips

#2374 Bounty row layout fix(es)
  app/assets/v2/css/dashboard.css
  app/dashboard/templates/dashboard/index.html
Labels: bug, frontend

#2423 refactor grants/new
  app/assets/v2/css/grants/new.css
  app/assets/v2/js/grants/new.js
  app/grants/templates/grants/new.html
  app/grants/views.py
Labels: enhancement, frontend, grants

#2430 Update weekly roundup for 12OCT2018
  app/retail/emails.py
Labels: backend, emails, in progress

#2432 Makes minor fixes with logo and copies
  app/grants/templates/grants/grant_card.html
  app/grants/templates/grants/new.html
Labels: in progress

#2441 Makes home page responsive
  app/grants/templates/grants/index.html
Labels: enhancement, frontend, grants

#2444 Adds metamask check in grant form
  app/grants/templates/grants/new.html
Labels: in progress

#2453 grants/index: css update
  app/assets/v2/css/grants/grant.css
  app/assets/v2/css/grants/new.css
  app/assets/v2/js/grants/index.js
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/grant_card.html
  app/grants/templates/grants/index.html
Labels: in progress

#2452 Add grants django admin and update grant details with logo and admin details
  app/assets/v2/css/grants/grant.css
  app/grants/admin.py
  app/grants/models.py
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/show.html
  app/grants/views.py
Labels: backend, frontend, grants, in progress

#2454 Waiting screen on grants creation
  app/assets/v2/css/base.css
  app/assets/v2/css/bounty.css
  app/assets/v2/js/grants/new.js
  app/assets/v2/js/pages/bounty_details.js
  app/assets/v2/js/shared.js
  app/grants/templates/grants/new.html
Labels: in progress

#2459 grants/profile: base setup for my grants
  app/assets/v2/css/gitcoin.css
  app/assets/v2/css/grants/card.css
  app/assets/v2/css/grants/grant.css
  app/assets/v2/css/grants/profile.css
  app/assets/v2/js/grants/index.js
  app/assets/v2/js/grants/new.js
  app/assets/v2/js/pages/profile_details.js
  app/dashboard/templates/profiles/profile.html
  app/grants/templates/grants/card.html
  app/grants/templates/grants/grant_card.html
  app/grants/templates/grants/index.html
  app/grants/templates/grants/new.html
  app/grants/templates/grants/profile.html
  app/grants/templates/grants/profile_body.html
  app/grants/urls.py
  app/grants/views.py
  app/retail/templates/shared/head.html
  app/retail/templates/shared/minihero.html
Labels: in progress

#2455 Avatar assets
  app/assets/v2/images/avatar/Accessories/HatShort-cowboy.svg
  app/assets/v2/images/avatar/Accessories/Masks-guy-fawkes.svg
  app/assets/v2/images/avatar/Clothing/suit-4242F4.svg
  app/assets/v2/images/avatar/Clothing/suit-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/suit-684A23.svg
  app/assets/v2/images/avatar/Clothing/suit-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/suit-F48914.svg
  app/assets/v2/images/avatar/Clothing/suit-FFCC3B.svg
  app/assets/v2/images/avatar/HairStyle/10-000000.svg
  app/assets/v2/images/avatar/HairStyle/10-0ECF7C.svg
  app/assets/v2/images/avatar/HairStyle/10-3596EC.svg
  app/assets/v2/images/avatar/HairStyle/10-4D22D2.svg
  app/assets/v2/images/avatar/HairStyle/10-4E3521.svg
  app/assets/v2/images/avatar/HairStyle/10-8C3B28.svg
  app/assets/v2/images/avatar/HairStyle/10-8E2ABE.svg
  app/assets/v2/images/avatar/HairStyle/10-B28E28.svg
  app/assets/v2/images/avatar/HairStyle/10-F0E6FF.svg
  app/assets/v2/images/avatar/HairStyle/10-F4EA6E.svg
  app/avatar/templates/accessories/hat/cowboy.txt
  app/avatar/templates/accessories/masks/guy-fawkes.txt
  app/avatar/templates/clothing/suit.txt
  app/avatar/templates/hair/10.txt
  app/avatar/utils.py
Labels: avatar, frontend

#2464 Hide Anonymous - Refactoring GatteJyoti's commit and pushing.
  app/assets/v2/js/pages/bounty_details.js
  app/dashboard/templates/bounty/details.html
Labels: enhancement, frontend

#2465 grants/profile : add txn history template
  app/assets/v2/css/grants/profile.css
  app/assets/v2/css/tag.css
  app/grants/templates/grants/profile.html
  app/grants/templates/grants/profile_body.html
  app/grants/views.py
Labels: frontend, grants, in progress

#2476 grants/profile: mobile responsive
  app/assets/v2/css/grants/profile.css
  app/grants/templates/grants/profile.html
  app/grants/templates/grants/profile_body.html
Labels: frontend, grants

#2477 Eliminate additional Milestone query and remove can_edit_milestones
  app/grants/templates/grants/detail.html
  app/grants/views.py
Labels: backend, grants, in progress

#2482 grants/detail : refactor + design clean + responsive
  app/assets/v2/css/grants/card.css
  app/assets/v2/css/grants/detail.css
  app/assets/v2/css/grants/grant.css
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/fund.html
Labels: enhancement, frontend, grants

#2486 Grants team members and full transaction receipt
  app/assets/v2/js/grants/new.js
  app/grants/forms.py
  app/grants/migrations/0001_initial.py
  app/grants/migrations/0002_auto_20181015_1819.py
  app/grants/migrations/0003_auto_20181017_1645.py
  app/grants/models.py
  app/grants/templates/grants/new.html
  app/grants/views.py
Labels: backend, grants, in progress

#2487 Adds metamask check in grant form
  app/assets/v2/js/shared.js
  app/grants/templates/grants/new.html
Labels: frontend, grants

#2484 grants/admin: base setup
  app/assets/v2/css/grants/detail.css
  app/assets/v2/css/grants/new.css
  app/assets/v2/js/grants/detail.js
  app/grants/templates/grants/detail.html
  app/retail/templates/shared/head.html
Labels: in progress

#2490 grants/fund : refactor
  app/assets/v2/css/grants/detail.css
  app/assets/v2/css/grants/fund.css
  app/assets/v2/css/grants/grant.css
  app/grants/templates/grants/detail.html
  app/grants/templates/grants/fund.html
  app/retail/templates/shared/head.html
Labels: frontend, grants, in progress

#2495 roundup email 2018/10/19
  app/retail/emails.py
Labels: in progress

#2497 cleanup dupe profiles
  app/assets/v2/js/pages/tabs.js
  app/dashboard/management/commands/cleanup_dupe_profiles.py
  scripts/crontab
Labels: in progress

#2499 grant/detail: updated UI
  app/assets/v2/css/grants/detail.css
  app/assets/v2/css/grants/grant.css
  app/assets/v2/js/grants/detail.js
  app/grants/templates/grants/detail.html
Labels: grants, in progress, ui

#2498 Fixes: https://github.com/gitcoinco/web/issues/2489
  app/assets/v2/css/howitworks.css
Labels: bug, frontend

#2500 Add red and yellow hair bow avatar accesorries
  app/assets/v2/images/avatar/Accessories/HatShort-redbow.svg
  app/assets/v2/images/avatar/Accessories/HatShort-yellowbow.svg
  app/avatar/templates/accessories/hat/redbow.txt
  app/avatar/templates/accessories/hat/yellowbow.txt
  app/avatar/utils.py
Labels: avatar, frontend, waiting on contributor

#2502 grants/fund : populate token in dropdown
  app/assets/v2/js/grants/fund_grant.js
Labels: frontend, grants, in progress

#2503 refactored routes to be restful
  app/assets/v2/js/grants/detail.js
  app/assets/v2/js/grants/new.js
  app/grants/templates/grants/detail.html
  app/grants/urls.py
  app/grants/views.py
Labels: in progress

#2512 Implemented warning label on 'new' and 'fund' with style given by KO
  app/assets/v2/css/grants/fund.css
  app/assets/v2/css/grants/new.css
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/new.html
Labels: in progress

#2513 Changes for cancel view PR
  app/grants/views.py
Labels: backend, grants

#2494 Created Bunny Ears accessory
  app/assets/v2/images/avatar/Accessories/Extras-Parrot.svg
  app/assets/v2/images/avatar/Accessories/HatShort-bunnyears.svg
  app/assets/v2/images/avatar/Accessories/HatShort-cowboy.svg
  app/assets/v2/images/avatar/Accessories/HatShort-redbow.svg
  app/assets/v2/images/avatar/Accessories/HatShort-yellowbow.svg
  app/assets/v2/images/avatar/Accessories/Masks-gitcoinbot.svg
  app/assets/v2/images/avatar/Accessories/Masks-guy-fawkes.svg
  app/assets/v2/images/avatar/Accessories/Masks-jack-o-lantern-lighted.svg
  app/assets/v2/images/avatar/Clothing/cloak-4242F4.svg
  app/assets/v2/images/avatar/Clothing/cloak-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/cloak-684A23.svg
  app/assets/v2/images/avatar/Clothing/cloak-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/cloak-F48914.svg
  app/assets/v2/images/avatar/Clothing/cloak-FFCC3B.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-4242F4.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-684A23.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-F48914.svg
  app/assets/v2/images/avatar/Clothing/ethlogo-FFCC3B.svg
  app/assets/v2/images/avatar/Clothing/robe-4242F4.svg
  app/assets/v2/images/avatar/Clothing/robe-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/robe-684A23.svg
  app/assets/v2/images/avatar/Clothing/robe-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/robe-F48914.svg
  app/assets/v2/images/avatar/Clothing/robe-FFCC3B.svg
  app/assets/v2/images/avatar/Clothing/spacecadet-4242F4.svg
  app/assets/v2/images/avatar/Clothing/spacecadet-F48914.svg
  app/assets/v2/images/avatar/Clothing/suit-4242F4.svg
  app/assets/v2/images/avatar/Clothing/suit-43B9F9.svg
  app/assets/v2/images/avatar/Clothing/suit-684A23.svg
  app/assets/v2/images/avatar/Clothing/suit-CCCCCC.svg
  app/assets/v2/images/avatar/Clothing/suit-F48914.svg
  app/assets/v2/images/avatar/Clothing/suit-FFCC3B.svg
  app/avatar/templates/accessories/hat/bunnyears.txt
  app/avatar/utils.py
Labels: avatar, frontend, waiting on contributor

#2514 My Grants - 'Supported by me' tab
  app/grants/templates/grants/profile.html
  app/grants/views.py
Labels: grants, in progress

#2525 Implemented Spock ears in avatar builder
  app/assets/v2/images/avatar/Accessories/Extras-Parrot.svg
  app/assets/v2/images/avatar/Accessories/HatShort-redbow.svg
  app/assets/v2/images/avatar/Accessories/HatShort-yellowbow.svg
  app/assets/v2/images/avatar/Ears/Spock-3F2918.svg
  app/assets/v2/images/avatar/Ears/Spock-593D26.svg
  app/assets/v2/images/avatar/Ears/Spock-715031.svg
  app/assets/v2/images/avatar/Ears/Spock-88563B.svg
  app/assets/v2/images/avatar/Ears/Spock-AE7242.svg
  app/assets/v2/images/avatar/Ears/Spock-D2946B.svg
  app/assets/v2/images/avatar/Ears/Spock-D8BF82.svg
  app/assets/v2/images/avatar/Ears/Spock-EEE3C1.svg
  app/assets/v2/images/avatar/Ears/Spock-F8D5C2.svg
  app/assets/v2/images/avatar/Ears/Spock-FEF7EB.svg
  app/assets/v2/images/avatar/Ears/Spock-FFFFF6.svg
  app/avatar/templates/ears/Spock.txt
  app/avatar/utils.py
Labels: avatar

#2509 Fixes web3 version conflicts in various parts
  app/assets/v2/css/grants/fund.css
  app/assets/v2/css/grants/grant.css
  app/assets/v2/css/grants/new.css
  app/assets/v2/js/grants/shared.js
  app/assets/v2/js/shared.js
  app/dashboard/templates/shared/bounty_waiting_state.html
  app/grants/templates/grants/cancel.html
  app/grants/templates/grants/fund.html
  app/grants/templates/grants/new.html
  app/retail/templates/shared/nav.html
Labels: frontend, grants, in progress

#2533 #2529 - Fix broken URL in GitHub Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug, doc

#2551 css fix
  app/assets/v2/css/grants/detail.css
Labels: in progress

#2564 Grants dummy
  Dockerfile
  app/app/urls.py
  app/assets/v2/js/grants_index.js
  app/dashboard/templates/grants_index.html
  app/dashboard/views.py
Labels: in progress

#2559 Kudos enhancements
  Dockerfile
  app/app/urls.py
  app/assets/v2/css/base.css
  app/assets/v2/images/kudos/cpp_scientist.svg
  app/assets/v2/js/grants_index.js
  app/assets/v2/js/pages/process_bounty.js
  app/dashboard/templates/grants_index.html
  app/dashboard/templates/profiles/profile.html
  app/dashboard/templates/shared/add_kudos.html
  app/dashboard/templates/shared/nav_auth.html
  app/dashboard/views.py
  app/kudos/kudos.yaml
  app/kudos/management/commands/sync_kudos.py
  app/kudos/views.py
  app/retail/templates/shared/grants_nav.html
  app/retail/templates/shared/top_nav.html
  scripts/fresh_start.bash
Labels: Gitcoin Kudos, backend, enhancement, frontend, in progress

#2613 Adjust deploy bash to only run provisioning on jobs_node
  scripts/deploy.bash
Labels: backend, in progress

#2575 Fix sentry error log
  app/assets/v2/js/pages/kudos-search.js
Labels: Gitcoin Kudos, frontend, in progress

#2657 Adjust lazy_load_kudos to catch nonexistent profile
  app/dashboard/models.py
  app/dashboard/views.py
Labels: Gitcoin Kudos, backend, bug, in progress
